@import "../../styles/utilities/module";

.flex_container {
  display: flex;
  align-items: center;
  transition: 0.25s;
  &:hover {
    :first-child {
      color: $accent-color;
    }
  }
  :first-child {
    padding: 1rem 0;
  }
}
