$secondary-color: #e5e5f7;
$light-color: #c0c3fa;
$primary-color: rgb(35, 134, 226);
$accent-color: rgb(59, 219, 247);
$dark-color: rgb(2, 71, 92);
$warning-color: #bf614d;

$primary-font: "Roboto", Arial, sans-serif;
$accent-font: "Hachi Maru Pop", cursive;

$mobile-breakpoint: 1024px;
$box-shadow: 0 3px 6px 0 rgba(126, 125, 125, 0.2),
  0 2px 8px 0 rgba(133, 132, 132, 0.19);
$light-box-shadow: 0 3px 6px 0 rgb(219, 217, 217),
  0 2px 8px 0 rgb(218, 218, 218);
