@import "../../styles/utilities/module";

.current_list_view {
  padding: 1rem;
  max-width: 550px;
}

@media (min-width: $mobile-breakpoint) {
  .current_list_view {
    border-radius: 10px;
    height: 100%;
    // margin: auto;
    background-color: white;
  }
}
